
@{
    ViewData["Title"] = "thanhtoanthanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin: 30px auto;">
    <div class="col-md-12 text-center">
        <h4 style="font-weight: bold; margin: 20px auto; color: green;">THANH TOÁN THÁNH CÔNG</h4>
        <img src="~/images/success.jpg" alt="lỗi" style="width: 70%;">

        <a asp-action="Index" style="display: block; margin-top: 20px;">Quay lại trang chủ</a>
    </div>
</div>