<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hot Wheels</title>
    <link href="~/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f5f0f0;">
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <div class="header" style="background-image: url('/images/bg.png'); background-position: center; width: 100%; height: 200px;">
        <div class="row" style="width: 900px; margin: 0 auto; padding-top: 150px;">
            <div class="col-md-3">
                <h2 style="font-weight: bold;"><a asp-action="Index" style="text-decoration: none; color: black;">HotWheels</a></h2>
            </div>
            <div class="col-md-6">
                <form asp-action="Index" method="post">
                    <div class="input-group">

                        <input name="s" type="text" class="form-control" placeholder="Tìm kiếm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary text-white" type="submit" style="background-color: #83a3ea; border: none;">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-center">
                <a asp-action="giohang" style="display: block; text-decoration: none; color: black; margin-top: 5px;">
                    <img src="~/images/cart.png" alt="lỗi" style="width: 24px;">
                    <span>Giỏ hàng</span>
                </a>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer text-center" style="background-color: #b6e6f1; line-height: 100px; margin-top: 10px;">
        <p style="margin: 0;"><strong>HotWheels</strong>  - Cửa hàng mô hình xe số 1 Việt Nam</p>
    </div>
</body>
</html>
